@import "colors";
@import "fonts";
@import "icons";
@import "dimensions";
@import "typography";
@import "grid";
@import "layout";
@import "utilities";

@import "components";

*, *::before, *::after {
	box-sizing: border-box;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

body {
	margin: 0;
	background-color: var(--background);
	color: var(--text-color);
	font-family: "Inter", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overscroll-behavior-x: none;
}
