.progress-bar {
	position: relative;
	width: 300px;
	border: solid 1px var(--primary);
	border-radius: 8px;
	text-align: center;
	z-index: 1;
	font-size: var(--font-size-s);

	span {
		font-weight: 600;
		z-index: 1;
	}

	.progress-bar-inner {
		position: absolute;
		height: 100%;
		border-radius: 6px 0 0 6px;
		background: var(--linear-gradient-primary);
		margin-left: auto;
		z-index: -1;
		transition: width .2s;

		&.progress-bar-w-99, &.progress-bar-w-100 {
			border-radius: 6px;
		}
	}
}


@for $i from 0 through 100 {
	.progress-bar-w-#{$i} {
		width: $i * 1%;
	}
}

.progress-circle {
	margin: -.5rem;

	&::part(base) {
		width: 36px;
		height: auto;
	}

	&::part(circle) {
		stroke: transparent;
		stroke-width: 50;
	}

	&::part(value) {
		stroke: var(--primary);
		stroke-width: -20;
		stroke-linecap: round;
	}
}
